
/* #Site Header
================================================ */
header{background:#efefef url(../images/frame/bg_header.png) repeat-x left top;border-bottom:1px solid #e6e6e6;height:90px;width:100%;z-index:1000;position:fixed;top:0;left:0;}
#logo{ background-color:#fff; box-shadow:0 1px 3px rgba(0,0,0,.3); -moz-box-shadow:0 1px 3px rgba(0,0,0,.3); text-align:center; -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);}
#logo a{ background:url(../images/frame/logo.png) no-repeat 0 0; background-size: 200px 50px;background-position: center; display:block; margin:10px auto; text-indent:-9999px; height: 55px}
ul#lang{ color:#fff; float:right; font-size:12px; margin-top:20px; text-transform:uppercase;}
ul#lang a{ color:#7d7d7d; text-decoration:none;}
ul#lang a:hover{ color:#fff;}
ul#lang li{ background:url(../images/frame/menu_footer_divider.png) right center no-repeat; float:left; margin-left:10px; padding-right:10px;}
ul#lang li:last-child{ background:none; padding-right:0;}
#wxWrap{ float:right; margin-top:9px; width:172px;}
#wxIntro{ color:#666; display:inline-block; font:12px/20px Helvetica,Arial; padding-top:9px; vertical-align:top;}
#wxIcon{ background:url('../../../l.ycss/images.com/a/lib/ywc/images/wicons.png') no-repeat 61px 0; display:inline-block; height:24px; margin:1px 6px 0 0px; overflow:hidden; width:43px; }
#wxIcon2{ display:inline-block; height:34px; margin:1px 6px 0 8px; overflow:hidden; width:34px;}
#wxTemp{ color:#999; display:inline-block; font:18px/28px Arial,Verdana,sans-serif; margin-left:4px; padding-top:5px; vertical-align:top;}
select.mobileMenu{ color:#444; font:14px 'PT Sans Narrow', sans-serif; margin:auto; margin-top:-10px; padding:5px;}

/* #Site Footer
================================================ */
footer{ background:#26282b url(../images/frame/bg_footer.png) repeat-x left top; color:#d1d1d1; padding:20px 0 10px 0; width:100%;}
#footer{ background:#26282b url(../images/frame/bg_footer.png) repeat-x;}
#nav-footer a{ color:#d1d1d1; text-decoration:none;}
#nav-footer a:hover{ color:#fff;}
/*ul#nav-footer li{ background:url(../images/frame/menu_footer_divider.png) left center no-repeat; float:left; margin-right:10px; padding-left:10px;}
ul#nav-footer li:first-child{ background:none; padding-left:0;}
.copy{ text-align:right;}*/

.title-content {
  background:url(../images/frame/bg_title_content.png) repeat-x 
  ;padding:10px
  ;color:#FFFFFF
}


.looptemplate {
    display: none;
}

.looptemplate2 {
    display: none;
}