<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post">
    <div class="modal-body">
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="SalesVisitationDetailID" name="SalesVisitationDetailID" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="StatusTerpilih" name="StatusTerpilih" />
            </div>
        </div>
        <div class="form-group">
            <label for="Status" class="col-md-4 col-sm-4 col-xs-4 control-label">Status</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="Status" name="Status" required>
                  <option value="">Please select</option>
                  <option value="Kunjungan 1">Kunjungan 1</option>
                  <option value="Kunjungan 2">Kunjungan 2</option>
                  <option value="Kunjungan 3">Kunjungan 3</option>
                  <option value="Closing">Closing</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-md-4 col-sm-4 col-xs-4 control-label">Description</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <textarea type="text" class="form-control" id="Description" name="Description" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
