<h5 class="panel-title text-center title-content" id="topic"></h5>

<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="SalesVisitationID" name="SalesVisitationID" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="BranchID" name="BranchID" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="UserID" name="UserID" />
            </div>
        </div>
        <div class="form-group">
            <label for="SalesVisitationNO" class="col-md-4 col-sm-4 col-xs-4 control-label">Sales Visitation Number</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="SalesVisitationNO" name="SalesVisitationNO" required="" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="BranchName" class="col-md-4 col-sm-4 col-xs-4 control-label">Branch Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="BranchName" name="BranchName" required="" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="PIC" class="col-md-4 col-sm-4 col-xs-4 control-label">PIC</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="PIC" name="PIC" required="" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="StartDate" class="col-md-4 col-sm-4 col-xs-4 control-label">Start Date</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="StartDate" name="StartDate" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="LastStatus" class="col-md-4 col-sm-4 col-xs-4 control-label">Last Status</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="LastStatus" name="LastStatus" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="BriefDescription" class="col-md-4 col-sm-4 col-xs-4 control-label">Brief Description</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <textarea type="text" class="form-control" id="BriefDescription" name="BriefDescription" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="GPS" class="col-md-4 col-sm-4 col-xs-4 control-label">GPS</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="GPS" name="GPS">
            </div>
        </div>

      </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/transaction/salesvisitation" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
