<h5 class="panel-title text-center title-content" id="topic"></h5>
<!-- <div class="">
  <div class="form-group">
      <label class="col-md-4 col-sm-4 col-xs-4 control-label"> </label>
      <img id="PhotoCategory" src="assets/images/default-item.jpg" style="padding-left:15px" width="100px">
      <span class="close hidden" style="position:absolute;top:relative">x</span>
      <img id="AddPhoto" src="assets/images/add.jpg" style="padding-left:15px" width="100px">
      <span class="close hidden" style="position:absolute;top:relative">x</span>
  </div>
  <input type="file" class="form-control hidden" id="Files" name="CategoryImage">
</div> -->
<div class="text-right" style="margin:5px">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<div class="align-right" style="margin:5px; float:right;">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton edit">
        <i class="fa fa-plus"></i> Add
    </a>
</div>
<div class="align-left" style="margin:5px; float:left;">
  <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
    <i class="fa fa-arrow-left"></i> Back
  </a>
</div>
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td class="no-sort">Date</td>
                    <td class="no-sort">Status</td>
                    <td class="no-sort">Description</td>
                    <td class="no-sort edit">Action</td>
                </tr>
            </thead>
            <tbody id="Body">
              <tr id="row" class="looptemplate">
                <td class="Date"></td>
                <td class="Status"></td>
                <td class="Description"></td>
                <td class="Action edit" style="width:150px;">
                  <select class="form-control act edit" required>
                    <option value="0" selected disabled hidden>Select Action</option>
                    <option value="1">Edit</option>
                    <!-- <option value="2">Delete</option> -->
                  </select>
                </td>
              </tr>
            </tbody>

        </table>
    </div>
</div>
