<div class="text-left" style="margin:5px">
  <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
    <i class="fa fa-arrow-left"></i> Back
  </a>
</div>
<h5 class="panel-title text-center title-content" id="topic"></h5>

<!-- Header -->
<form class="form-horizontal" id="header">
  <div class="modal-body">
    <fieldset>
      <legend>Header</legend>
      <div class="form-group">
          <label for="InvoiceNO" class="col-md-4 col-sm-4 col-xs-4 control-label">Invoice Number</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="InvoiceNO" name="InvoiceNO" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="BranchName" class="col-md-4 col-sm-4 col-xs-4 control-label">Branch</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="BranchName" name="BranchName" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="UserFullName" class="col-md-4 col-sm-4 col-xs-4 control-label">PIC</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="UserFullName" name="UserFullName" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="Total" class="col-md-4 col-sm-4 col-xs-4 control-label">Total</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="Total" name="Total" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="Status" class="col-md-4 col-sm-4 col-xs-4 control-label">Status</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="Status" name="Status" readonly="">
          </div>
      </div>
    </fieldset>
  </div>
</form>

<div class="text-right" style="margin:5px">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<div class="text-right" style="margin:5px">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton edit">
        <i class="fa fa-plus"></i> Add
    </a>
    <a type="button" class="btn btn-success btn-addon m-b-sm receipt hidden">
        <i class="fa fa-download"></i> Download Receipt
    </a>
</div>


<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td class="no-sort">Date</td>
                    <td class="no-sort">Amount</td>
                    <td class="no-sort">Proof Transfer</td>
                    <td class="no-sort edit">Action</td>
                </tr>
            </thead>
            <tbody id="Body">
              <tr id="row" class="looptemplate">
                <td class="Date"></td>
                <td class="Amount"></td>
                <td><img class="Picture" style="width:50px; cursor:pointer;"></td>
                <td class="Action edit" style="width:180px;">
                  <select class="form-control act" required>
                    <option value="0" selected disabled hidden>Select Action</option>
                    <option value="1" class="edit">Edit</option>
                    <option value="2" class="image hidden">Download Transfer Proof</option>
                    <!-- <option value="3" class="receipt looptemplate">Download Receipt</option> -->
                    <!-- <option value="2">Delete</option> -->
                  </select>
                </td>
              </tr>
            </tbody>

        </table>
    </div>
</div>
