<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="UserTypeID" name="UserTypeID" />
            </div>
        </div> -->
        <div class="form-group">
            <label for="UserTypeCode" class="col-md-4 col-sm-4 col-xs-4 control-label">User Type Code</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="UserTypeCode" name="UserTypeCode">
            </div>
        </div>
        <div class="form-group">
            <label for="UserTypeName" class="col-md-4 col-sm-4 col-xs-4 control-label">User Type Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="UserTypeName" name="UserTypeName">
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-md-4 col-sm-4 col-xs-4 control-label">Description</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="Description" name="Description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-sm-4 col-xs-4 control-label">PIC</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="radio" id="PIC_no" name="PIC" value=0 checked>
                    <label for="PIC_no">No</label>
                <input type="radio" id="PIC_yes" name="PIC" value=1>
                    <label for="PIC_yes">Yes</label>
            </div>
        </div>
        <div class="form-group hidden" id="PPIC">
            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Admin PIC</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="radio" id="PassedPIC_no" name="PassedPIC" value=0 checked>
                    <label for="PassedPIC_no">No</label>
                <input type="radio" id="PassedPIC_yes" name="PassedPIC" value=1>
                    <label for="PassedPIC_yes">Yes</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Revenue by</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="radio" id="Rev_Commission" name="Revenue" value="Commission" checked>
                    <label for="Rev_Commission">Commission</label>
                <input type="radio" id="Rev_Profit" name="Revenue" value="Profit">
                    <label for="Rev_Profit">Profit</label>
            </div>
        </div>
        <div class="form-group" id="permission">
            <label class="col-md-4 col-sm-4 col-xs-4"></label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <h5 class="panel-title text-left title-content">Permission List</h5>
            </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
        </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <ul id= "iTemplateBody">
                    <li id= "iTemplate" class= "looptemplate">
                        <input type="checkbox" class= "permissionID">
                        <span class="permission"></span>
                    </li>
                    <!-- <li id= "iTemplate" class= "dataRow" data-permission="product">
                        <input type="checkbox" class= "permissionID">
                        <span class="permission"><b>Product</b></span>
                    </li>
                    <li id= "iTemplate" class= "dataRow" data-permission="product" style="padding-left:15px;">
                        <input type="checkbox" class= "permissionID">
                        <span class="permission">View Product</span>
                    </li>
                    <li id= "iTemplate" class= "dataRow" data-permission="product" style="padding-left:15px;">
                        <input type="checkbox" class= "permissionID">
                        <span class="permission">Add Product</span>
                    </li> -->
                </ul>
                <div id="demo"></div>
            </div>
        </div>
        <!-- <div class="form-group">
            <ul>
                <li></li>
            </ul>
            <label for="URL" class="col-md-4 col-sm-4 col-xs-4 control-label"></label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="checkbox" class="check-all" data-group="brand">
            </div>
            <label for="URL" class="col-md-4 col-sm-4 col-xs-4 control-label"></label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="checkbox" class="allowCheckbox dataPermissionValue" value="view-dashboard" data-group="Dashboard" name="permissionBrand[]">
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/master/usertype" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back</a>
    </div>
</form>
