<script type="text/javascript">
function minmax(value, min, max)
{
    if(parseInt(value) < min)
        return 0;
    else if(parseInt(value) > max)
        return 100;
    else return value;
}
</script>

<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="LicenseID" name="LicenseID" />
            </div>
        </div> -->
        <div class="form-group">
            <!-- <label for="LicenseCode" class="col-md-4 col-sm-4 col-xs-4 control-label">License Code</label> -->
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="LicenseCode" name="LicenseCode">
            </div>
        </div>
        <!-- <div id="error_LicenseCode"></div> -->
        <div class="form-group">
            <label for="LicenseName" class="col-md-4 col-sm-4 col-xs-4 control-label">License Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="LicenseName" name="LicenseName">
            </div>
        </div>
        <div class="form-group">
            <label for="ProductID" class="col-md-4 col-sm-4 col-xs-4 control-label">Product</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="ProductID" name="ProductID">
                  <option selected disabled hidden>Please select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Price" class="col-md-4 col-sm-4 col-xs-4 control-label">Price</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control numbers-only" id="Price" name="Price">
            </div>
        </div>
        <div class="form-group">
            <label for="ResPrice" class="col-md-4 col-sm-4 col-xs-4 control-label">Reseller Price</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control numbers-only" id="ResPrice" name="ResPrice">
            </div>
        </div>
        <div class="form-group">
            <label for="Duration" class="col-md-4 col-sm-4 col-xs-4 control-label">Duration</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="Duration" name="Duration">
                  <option value="">Please select</option>
                  <option value="1 Month">Monthly</option>
                  <option value="1 Year">Annually</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-md-10 col-sm-10 col-xs-10 text-center">Commission is calculated by</div>

            <label for="persen" class="col-md-4 col-sm-4 col-xs-4 control-label">
              <!-- <input type="radio" id="persen" checked>  -->
              Percentage</label>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="number" min="0" max="100" onkeyup="this.value = minmax(this.value, 0, 100)" class="form-control numbers-only terikat" id="Percentage" name="Percentage">
            </div>
            <label for="value" class="col-md-2 col-sm-2 col-xs-2 control-label">
              <!-- <input type="radio" id="value">  -->
              Value</label>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="text" class="form-control numbers-only terikat" id="Value" name="Value">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/master/license" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
