<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="ProductID" name="ProductID" />
            </div>
        </div> -->
        <div class="form-group">
            <label for="ProductCode" class="col-md-4 col-sm-4 col-xs-4 control-label">Product Code</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="ProductCode" name="ProductCode">
            </div>
        </div>
        <div class="form-group">
            <label for="ProductName" class="col-md-4 col-sm-4 col-xs-4 control-label">Product Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="ProductName" name="ProductName">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/master/product" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
