<script type="text/javascript">
function minmax(value, min, max)
{
    if(parseInt(value) < min)
        return 0;
    else if(parseInt(value) > max)
        return 100;
    else return value;
}
</script>


<h5 class="panel-title text-center title-content" id="topic"></h5>

<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="DiscountID" name="DiscountID" />
            </div>
        </div> -->
        <div class="form-group">
            <label for="DiscountCode" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount Code</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="DiscountCode" name="DiscountCode">
            </div>
        </div>
        <div class="form-group">
            <label for="DiscountName" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="DiscountName" name="DiscountName">
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount Info</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <textarea type="text" class="form-control" id="Description" name="Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-md-10 col-sm-10 col-xs-10 text-center">Discount is calculated by</div>

            <label for="persen" class="col-md-4 col-sm-4 col-xs-4 control-label">
              <!-- <input type="radio" id="persen" checked>  -->
              Percentage
            </label>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="number" min="0" max="100" onkeyup="this.value = minmax(this.value, 0, 100)" class="form-control numbers-only terikat" id="Percentage" name="Percentage">
            </div>

            <label for="value" class="col-md-2 col-sm-2 col-xs-2 control-label">
              <!-- <input type="radio" id="value">  -->
              Value
            </label>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="text" class="form-control numbers-only terikat" id="Value" name="Value">
            </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-sm-2 col-xs-2"></div>
          <label for="duration" class="col-md-10 col-sm-10 col-xs-10 text-center">
            <input type="checkbox" id="duration"> Discount has limited duration
          </label>
            <label for="Period" class="col-md-4 col-sm-4 col-xs-4 control-label">Period</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div class="input-prepend input-group">
                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                <input type="text" class="form-control dur" id="Period" name="Period" readonly="">
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-4"> -->
              <!-- <div class="input-prepend input-group"> -->
                <!-- <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span> -->
                <!-- <input type="text" class="form-control dur" id="EndDate" name="EndDate" readonly=""> -->
              <!-- </div> -->
            <!-- </div> -->
        </div>
        <div class="form-group">
            <label for="Type" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount Type</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="Type" name="Type">
                  <option selected disabled hidden>Please select</option>
                  <option value="Hardware">Hardware</option>
                  <option value="License">License</option>
                </select>
            </div>
        </div>

        <div class="form-group looptemplate" id="judul_detail">
          <div class="col-md-4 col-sm-4 col-xs-4"></div>
          <label class="col-md-4 col-sm-4 col-xs-4">
             Select the item(s) whose discount will applied to:
          </label>
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            <!-- <input type="checkbox" class="control-label" id="select_all"> -->
            <label id="select_all">Select All</label> | <label id="unselect_all">Unselect All</label>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2"></div>
        </div>

        <div id="Body"></div>

      </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/master/discount" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
