<div class="text-right" style="margin:5px">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<div class="text-right" style="margin:5px">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton">
        <i class="fa fa-plus"></i> Add
    </a>
</div>
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td class="no-sort">Image</td>
                    <td class="no-sort">Product</td>
                    <td class="no-sort">Brand Code</td>
                    <td class="no-sort">Brand Name</td>
                    <td class="no-sort" style="width:150px;">Action</td>
                </tr>
            </thead>
            <tbody id="Body">
              <tr id="row" class="looptemplate">
                <td><img class="Image" style="width:50px"></td>
                <td class="ProductName"></td>
                <td class="BrandCode"></td>
                <td class="BrandName"></td>
                <td class="Action">
                  <select class="form-control act" required>
                    <option value="0" selected disabled hidden>Select Action</option>
                    <option value="3">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <!-- <tr class>
                <td class="Image">IMG01</td>
                <td class="ProductName">Retail</td>
                <td class="BrandCode">ALF</td>
                <td class="BrandName">Alfamart</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG02</td>
                <td class="ProductName">Restaurant</td>
                <td class="BrandCode">YSN</td>
                <td class="BrandName">Yoshinoya</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG03</td>
                <td class="ProductName">Food n' Beverage</td>
                <td class="BrandCode">ABN</td>
                <td class="BrandName">Abnormal</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG04</td>
                <td class="ProductName">Restaurant</td>
                <td class="BrandCode">KBK</td>
                <td class="BrandName">Kebi-Kebi</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG05</td>
                <td class="ProductName">Retail</td>
                <td class="BrandCode">WAL</td>
                <td class="BrandName">Walmart</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG06</td>
                <td class="ProductName">Food n' Beverage</td>
                <td class="BrandCode">KFC</td>
                <td class="BrandName">Kentucky Fried Chiken</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG07</td>
                <td class="ProductName">Restaurant</td>
                <td class="BrandCode">ANW</td>
                <td class="BrandName">A&W</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG08</td>
                <td class="ProductName">Food n' Beverage</td>
                <td class="BrandCode">PZH</td>
                <td class="BrandName">Pizza Hut</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG09</td>
                <td class="ProductName">Food n' Beverage</td>
                <td class="BrandCode">DMN</td>
                <td class="BrandName">Domino's Pizza</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG10</td>
                <td class="ProductName">Retail</td>
                <td class="BrandCode">IND</td>
                <td class="BrandName">Indomaret</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
              <tr class>
                <td class="Image">IMG11</td>
                <td class="ProductName">Food n' Beverage</td>
                <td class="BrandCode">PBN</td>
                <td class="BrandName">Pisang Madu Bu Nanik</td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <option value="0">View Outlet</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr> -->
            </tbody>
        </table>
    </div>
</div>
