<div class="text-right" style="margin:5px">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<div class="text-right" style="margin:5px">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton">
        <i class="fa fa-plus"></i> Add
    </a>
</div>
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" class="no-sort">Discount ID</td>
                    <td rowspan="2" class="no-sort">Discount Code</td>
                    <td rowspan="2" class="no-sort">Discount Name</td>
                    <td rowspan="2" class="no-sort">Discount Type</td>
                    <td colspan="2" class="no-sort text-center">Method</td>
                    <td colspan="2" class="no-sort text-center">Duration</td>
                    <td rowspan="2" class="no-sort">Description</td>
                    <td rowspan="2" class="no-sort" style="width:150px;">Action</td>
                </tr>
                <tr>
                  <td class="no-sort">By Percentage</td>
                  <td class="no-sort">By Value</td>
                  <td class="no-sort">Start Date</td>
                  <td class="no-sort">End Date</td>
                </tr>
            </thead>
            <tbody id="Body">
              <tr id="row" class="looptemplate">
                <td class="DiscountID"></td>
                <td class="DiscountCode"></td>
                <td class="DiscountName"></td>
                <td class="DiscountType"></td>
                <td class="Percentage"></td>
                <td class="Value"></td>
                <td class="Start"></td>
                <td class="End"></td>
                <td class="Description">
                </td>
                <td class="Action">
                  <select class="form-control act" name="BrandID" required>
                    <option value="0" selected disabled hidden>Select Action</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
