<div class="text-right" style="margin:5px">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<div class="text-right" style="margin:5px">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton">
        <i class="fa fa-plus"></i> Add
    </a>
</div>
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" class="no-sort">License Code</td>
                    <td rowspan="2" class="no-sort">License Name</td>
                    <td rowspan="2" class="no-sort">Product Name</td>
                    <td rowspan="2" class="no-sort">Price</td>
                    <td rowspan="2" class="no-sort">Reseller Price</td>
                    <td rowspan="2" class="no-sort">Duration</td>
                    <td colspan="2" class="no-sort text-center">Commission</td>
                    <td rowspan="2" class="no-sort" style="width:150px;">Action</td>
                </tr>
                    <td class="no-sort">Percentage</td>
                    <td class="no-sort">Value</td>
            </thead>
            <tbody id="Body">
              <tr id="row" class="looptemplate">
                <td class="LicenseCode"></td>
                <td class="LicenseName"></td>
                <td class="ProductName"></td>
                <td class="Price"></td>
                <td class="ResPrice"></td>
                <td class="Duration"></td>
                <td class="CommissionPercentage"></td>
                <td class="CommissionValue"></td>
                <td class="Action">
                  <select class="form-control act" required>
                    <option value="0" selected disabled hidden>Select Action</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
