<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="UserID" name="UserID" />
            </div>
        </div> -->
        <div class="form-group">
            <label for="UserCode" class="col-md-4 col-sm-4 col-xs-4 control-label">User Code</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="UserCode" name="UserCode">
            </div>
        </div>
        <div class="form-group">
            <label for="UserFullName" class="col-md-4 col-sm-4 col-xs-4 control-label">Full Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="UserFullName" name="UserFullName">
            </div>
        </div>
        <div class="form-group">
            <label for="UserTypeID" class="col-md-4 col-sm-4 col-xs-4 control-label">User Type</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="UserTypeID" name="UserTypeID">
                  <option selected disabled hidden>Please select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-md-4 col-sm-4 col-xs-4 control-label">Email</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="Email" name="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="col-md-4 col-sm-4 col-xs-4 control-label">Phone</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control numbers-only" maxlength="13" id="Phone" name="Phone">
            </div>
        </div>
        <div class="form-group">
            <label for="Address" class="col-md-4 col-sm-4 col-xs-4 control-label">Address</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <textarea type="text" class="form-control" id="Address" name="Address" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="Username" class="col-md-4 col-sm-4 col-xs-4 control-label">Username</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="Username" name="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-md-4 col-sm-4 col-xs-4 control-label">Password</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="password" class="form-control" id="Password" name="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="RePassword" class="col-md-4 col-sm-4 col-xs-4 control-label">Confirm Password</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="password" class="form-control" id="RePassword" name="RePassword">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/master/user" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
