<h5 class="panel-title text-center title-content" id="topic"></h5>

<!-- Header -->
<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
    <div class="modal-body">
      <fieldset>
        <legend>Overview</legend>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="QuotationID" name="QuotationID" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="BranchID" name="BranchID" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="UserID" name="UserID" />
            </div>
        </div>
        <div class="form-group">
            <label for="QuotationNO" class="col-md-4 col-sm-4 col-xs-4 control-label">Quotation Number</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="QuotationNO" name="QuotationNO" required="" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="BranchName" class="col-md-4 col-sm-4 col-xs-4 control-label">Branch Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="BranchName" name="BranchName" required="" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="PIC" class="col-md-4 col-sm-4 col-xs-4 control-label">PIC</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="PIC" name="PIC" required="" readonly="">
            </div>
        </div>
        <!-- <div class="form-group">
          <label for="Status" class="col-md-4 col-sm-4 col-xs-4 control-label">Status</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="text" class="form-control" id="Status" name="Status" readonly="">
          </div>
        </div>
        <div class="form-group">
            <label for="GrandTotal" class="col-md-4 col-sm-4 col-xs-4 control-label">Grand Total</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="GrandTotal" name="GrandTotal" readonly="">
            </div>
        </div>
        <div class="form-group">
            <label for="Commission" class="col-md-4 col-sm-4 col-xs-4 control-label">Commission</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="Commission" name="Commission" readonly="">
            </div>
        </div> -->
      </fieldset>
      </div>
    <div class="modal-footer">
      <div id="error"></div>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/transaction/quotation" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>

<!-- License -->
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_License" tabindex="0" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td class="no-sort">No</td>
                    <td class="no-sort">License</td>
                    <td class="no-sort">Discount</td>
                    <td class="no-sort">Percentage</td>
                    <td class="no-sort">Value</td>
                    <td class="no-sort">Subtotal</td>
                    <td class="no-sort">Commission</td>
                    <td class="no-sort" style="width:150px;">Action</td>
                </tr>
            </thead>
            <tbody id="Body_License">
              <tr id="row_License" class="looptemplate">
                <td class="No"></td>
                <td class="License"></td>
                <td class="Discount"></td>
                <td class="Percentage"></td>
                <td class="Value"></td>
                <td class="SubTotal"></td>
                <td class="Commission"></td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <!-- <option value="0">View Detail</option> -->
                    <!-- <option value="1">Edit</option> -->
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<form class="form-horizontal" role="form" id="action1" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
      <div id="error"></div>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="UserID" name="UserID" />
            </div>
        </div>
        <fieldset>
          <legend>License</legend>
          <div class="form-group">
              <label for="LicenseID" class="col-md-4 col-sm-4 col-xs-4 control-label">License</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <select class="form-control formLicense" id="LicenseID" name="LicenseID">
                    <option value="">Please select</option>
                    <option value="L1">License no. 1</option>
                    <option value="L2">License no. 2</option>
                    <option value="L3">License no. 3</option>
                    <option value="L4">License no. 4</option>
                    <option value="L5">License no. 5</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <label for="PriceL" class="col-md-4 col-sm-4 col-xs-4 control-label">Price</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control formLicense" id="PriceL" name="PriceL" readonly="">
              </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Discount</legend>
          <div class="form-group">
            <label for="DiscountIDL" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control formLicense" id="DiscountIDL" name="DiscountIDL">
                  <option value="">Please select</option>
                  <option value="D1">Diskon Pertamax</option>
                  <option value="D2">Diskon keduax</option>
                </select>
            </div>
          </div>
          <div class="form-group">
              <label for="persen" class="col-md-4 col-sm-4 col-xs-4 control-label">
                <!-- <input type="radio" id="persen" checked>  -->
                Percentage
              </label>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" class="form-control a terikat" id="Percentage" name="Percentage" required="">
              </div>

              <label for="value" class="col-md-2 col-sm-2 col-xs-2 control-label">
                <!-- <input type="radio" id="value">  -->
                Value
              </label>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" class="form-control a terikat" id="Value" name="Value" required="">
              </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Summary</legend>
          <div class="form-group">
              <label for="Sub Total" class="col-md-4 col-sm-4 col-xs-4 control-label">Sub Total</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control formLicense" id="Sub Total" name="Sub Total" readonly="">
              </div>
          </div>
          <div class="form-group">
              <label for="Commission" class="col-md-4 col-sm-4 col-xs-4 control-label">Commission</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control formLicense" id="Commission" name="Commission" readonly="">
              </div>
          </div>
        </fieldset>
    </div>
    <div class="modal-footer">
      <div id="error_insert_update"></div>
        <button type="submit" form="form1" id="submit1" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <button type="reset" form="form1" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </button>
    </div>
</form>


<!-- Hardware -->
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_Hardware" tabindex="1" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td class="no-sort">No</td>
                    <td class="no-sort">Hardware</td>
                    <td class="no-sort">Discount</td>
                    <td class="no-sort">Percentage</td>
                    <td class="no-sort">Value</td>
                    <td class="no-sort">Subtotal</td>
                    <td class="no-sort">Commission</td>
                    <td class="no-sort" style="width:150px;">Action</td>
                </tr>
            </thead>
            <tbody id="Body_Hardware">
              <tr id="row_Hardware" class="looptemplate">
                <td class="No"></td>
                <td class="Hardware"></td>
                <td class="Discount"></td>
                <td class="Percentage"></td>
                <td class="Value"></td>
                <td class="SubTotal"></td>
                <td class="Commission"></td>
                <td class="Action">
                  <select class="form-control act">
                    <option value="NULL">Select Action</option>
                    <!-- <option value="0">View Detail</option> -->
                    <!-- <option value="1">Edit</option> -->
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<form class="form-horizontal" role="form" id="action2" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
      <div id="error"></div>
        <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="UserID" name="UserID" />
            </div>
        </div>
        <fieldset>
          <legend>Hardware</legend>
          <div class="form-group">
              <label for="HardwareID" class="col-md-4 col-sm-4 col-xs-4 control-label">Hardware</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <select class="form-control" id="HardwareID" name="HardwareID">
                    <option value="">Please select</option>
                    <option value="H1">Hardware no. 1</option>
                    <option value="H2">Hardware no. 2</option>
                    <option value="H3">Hardware no. 3</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <label for="PriceHardware" class="col-md-4 col-sm-4 col-xs-4 control-label">Price</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control" id="PriceHardware" name="PriceHardware" readonly="">
              </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Discount</legend>
          <div class="form-group">
            <label for="DiscountIDH" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="DiscountIDH" name="DiscountIDH">
                  <option value="">Please select</option>
                </select>
            </div>
          </div>
          <div class="form-group">
              <label for="persen" class="col-md-4 col-sm-4 col-xs-4 control-label">
                <!-- <input type="radio" id="persen" checked>  -->
                Percentage
              </label>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" class="form-control terikat" id="PercentageH" name="PercentageH" required="">
              </div>

              <label for="value" class="col-md-2 col-sm-2 col-xs-2 control-label">
                <!-- <input type="radio" id="value">  -->
                Value
              </label>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" class="form-control terikat" id="ValueH" name="ValueH" required="">
              </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Summary</legend>
          <div class="form-group">
              <label for="SubTotalH" class="col-md-4 col-sm-4 col-xs-4 control-label">Sub Total</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control" id="SubTotalH" name="SubTotalH" readonly="">
              </div>
          </div>
          <div class="form-group">
              <label for="CommissionH" class="col-md-4 col-sm-4 col-xs-4 control-label">Commission</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control" id="CommissionH" name="CommissionH" readonly="">
              </div>
          </div>
        </fieldset>
    </div>
    <div class="modal-footer">
      <div id="error_insert_update"></div>
        <button type="submit" form="form2" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <button type="reset" form="form2" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </button>
    </div>
</form>
