<h5 class="panel-title text-center title-content" id="topic"></h5>

<div class="text-left" style="margin:5px">
  <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
    <i class="fa fa-arrow-left"></i> Back
  </a>
</div>

<!-- Header -->
<form class="form-horizontal" id="header">
  <div class="modal-body">
    <fieldset>
      <legend>Header</legend>
      <div class="form-group">
          <label for="QuotationNO" class="col-md-4 col-sm-4 col-xs-4 control-label">Quotation Number</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="QuotationNO" name="QuotationNO" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="BranchName" class="col-md-4 col-sm-4 col-xs-4 control-label">Branch</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="BranchName" name="BranchName" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="UserFullName" class="col-md-4 col-sm-4 col-xs-4 control-label">PIC</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="UserFullName" name="UserFullName" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="Type" class="col-md-4 col-sm-4 col-xs-4 control-label">Type</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="Type" name="Type" readonly="">
          </div>
      </div>
    </fieldset>
  </div>
</form>

<!-- Tabel License -->
<div class="row" style="padding:10px">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <table id="MainTable_License" tabindex="0" class="table table-striped table-bordered" cellspacing="0">
          <thead>
              <tr>
                  <!-- <td rowspan="2" class="no-sort">No</td> -->
                  <td rowspan="2" class="no-sort">License</td>
                  <td rowspan="2" class="no-sort">Price</td>
                  <td rowspan="2" class="no-sort">Reseller Price</td>
                  <td rowspan="2" class="no-sort">Qty</td>
                  <td rowspan="2" class="no-sort">Discount</td>
                  <td colspan="2" class="no-sort text-center">Method</td>
                  <td colspan="2" class="no-sort text-center">Commission</td>
                  <td rowspan="2" class="no-sort">Subtotal</td>
                  <td rowspan="2" class="no-sort">Reseller Subtotal</td>
                  <td rowspan="2" class="no-sort">Commission</td>
                  <td rowspan="2" class="no-sort" style="width:70px;">Action</td>
              </tr>
              <tr>
                <td class="no-sort">Percentage</td>
                <td class="no-sort">Value</td>
                <td class="no-sort">Percentage</td>
                <td class="no-sort">Value</td>
              </tr>
          </thead>
          <tbody id="Body_License">
            <tr id="row_License" class="looptemplate">
              <!-- <td class="No"></td> -->
              <td class="License"></td>
              <td class="Price"></td>
              <td class="ResPrice"></td>
              <td class="Qty"></td>
              <td class="Discount"></td>
              <td class="DPercentage"></td>
              <td class="DValue"></td>
              <td class="CPercentage"></td>
              <td class="CValue"></td>
              <td class="SubTotal"></td>
              <td class="ResSubTotal"></td>
              <td class="Commission"></td>
              <td class="Action">
                <a class="edittable edit"><span class="fa fa-edit"> Edit</span></a>
                <a class="delete edit"><span class="fa fa-trash"> Delete</span></a>
                <!-- <select class="form-control act"> -->
                  <!-- <option value="NULL">Select Action</option> -->
                  <!-- <option value="0">View Detail</option> -->
                  <!-- <option value="1">Edit</option> -->
                  <!-- <option value="2">Delete</option> -->
                <!-- </select> -->
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>
<!-- Form License -->
<form class="form-horizontal edit" id="action" action="#">
  <div class="modal-body">
    <div class="form-group">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="hidden" class="form-control" id="countRowL" name="countRow" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="hidden" class="form-control License" id="currentRowL" name="currentRow">
        </div>
    </div>
    <fieldset>
      <legend id="field_License">Pick License</legend>
      <div class="form-group">
          <label for="LicenseIDFormL" class="col-md-4 col-sm-4 col-xs-4 control-label">License</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <select class="form-control License" id="LicenseIDFormL" name="LicenseIDForm">
                <option value="">Please select</option>
              </select>
          </div>
      </div>
      <div id="error_license_null"></div>
      <div class="form-group">
          <label for="PriceFormL" class="col-md-4 col-sm-4 col-xs-4 control-label">Price</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control License" id="PriceFormL" name="PriceForm" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="ResPriceFormL" class="col-md-4 col-sm-4 col-xs-4 control-label">Reseller Price</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control License" id="ResPriceFormL" name="ResPriceForm" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="QtyFormL" class="col-md-4 col-sm-4 col-xs-4 control-label">Quantity</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control License" id="QtyFormL" name="QtyForm">
          </div>
      </div>
      <div class="form-group">
          <label for="ComPercentageFormL" class="col-md-4 col-sm-4 col-xs-4 control-label">Commission Percentage</label>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <input type="text" class="form-control License" id="ComPercentageFormL" name="ComPercentageForm" readonly="">
          </div>

          <label for="ComValueFormL" class="col-md-2 col-sm-2 col-xs-2 control-label">Commission Value</label>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <input type="text" class="form-control License" id="ComValueFormL" name="ComValueForm" readonly="">
          </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Apply Discount</legend>
      <div class="form-group">
          <label for="DiscountIDFormL" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <select class="form-control License" id="DiscountIDFormL" name="DiscountIDForm">
                <option value="">Please select</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label for="PercentageFormL" class="col-md-4 col-sm-4 col-xs-4 control-label">Percentage</label>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <input type="text" class="form-control License terikat" id="PercentageFormL" name="PercentageForm">
          </div>

          <label for="ValueFormL" class="col-md-2 col-sm-2 col-xs-2 control-label">Value</label>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <input type="text" class="form-control License terikat" id="ValueFormL" name="ValueForm">
          </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <div id="error_insert_update"></div>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-plus"></i> Add
    </button>
    <button type="reset" class="btn btn-success btn-addon m-b-sm">
      <i class="fa fa-arrow-left"></i> Cancel
    </button>
  </div>
</form>

<!-- Tabel Hardware -->
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_Hardware" tabindex="1" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <!-- <td rowspan="2" class="no-sort">No</td> -->
                    <td rowspan="2" class="no-sort">Hardware</td>
                    <td rowspan="2" class="no-sort">Price</td>
                    <td rowspan="2" class="no-sort">Qty</td>
                    <td rowspan="2" class="no-sort">Discount</td>
                    <td colspan="2" class="no-sort text-center">Method</td>
                    <td rowspan="2" class="no-sort">Subtotal</td>
                    <td rowspan="2" class="no-sort" style="width:70px;">Action</td>
                </tr>
                <tr>
                  <td class="no-sort">Percentage</td>
                  <td class="no-sort">Value</td>
                </tr>
            </thead>
            <tbody id="Body_Hardware">
              <tr id="row_Hardware" class="looptemplate">
                <!-- <td class="No"></td> -->
                <td class="Hardware"></td>
                <td class="Price"></td>
                <td class="Qty"></td>
                <td class="Discount"></td>
                <td class="Percentage"></td>
                <td class="Value"></td>
                <td class="SubTotal"></td>
                <td class="Action">
                  <a class="edittable edit"><span class="fa fa-edit"> Edit</span></a>
                  <a class="delete edit"><span class="fa fa-trash"> Delete</span></a>
                  <!-- <select class="form-control act"> -->
                    <!-- <option value="NULL">Select Action</option> -->
                    <!-- <option value="0">View Detail</option> -->
                    <!-- <option value="1">Edit</option> -->
                    <!-- <option value="2">Delete</option> -->
                  <!-- </select> -->
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Form Hardware -->
<form class="form-horizontal edit" id="action2" action="#">
  <div class="modal-body">
    <div class="form-group">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="hidden" class="form-control" id="countRowH" name="countRow" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="hidden" class="form-control Hardware" id="currentRowH" name="currentRow">
        </div>
    </div>
    <fieldset>
      <legend id="field_Hardware">Pick Hardware(s)</legend>
      <div class="form-group">
          <label for="HardwareIDFormH" class="col-md-4 col-sm-4 col-xs-4 control-label">Hardware</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <select class="form-control Hardware" id="HardwareIDFormH" name="HardwareIDForm">
                <option value="">Please select</option>
              </select>
          </div>
      </div>
      <div id="error_hardware_null"></div>
      <!-- <div class="form-group">
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="hidden" class="form-control Hardware" id="LicenseIDFormH" name="LicenseIDForm" />
          </div>
      </div> -->
      <div class="form-group">
          <label for="PriceFormH" class="col-md-4 col-sm-4 col-xs-4 control-label">Price</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control Hardware" id="PriceFormH" name="PriceForm" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="QtyFormH" class="col-md-4 col-sm-4 col-xs-4 control-label">Quantity</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control Hardware" id="QtyFormH" name="QtyForm">
          </div>
      </div>
      <!-- <div class="form-group">
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="hidden" class="form-control Hardware" id="ComPercentageFormH" name="ComPercentageForm" />
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="hidden" class="form-control Hardware" id="ComValueFormH" name="ComValueForm" />
          </div>
      </div> -->
    </fieldset>
    <fieldset>
      <legend>Apply Discount</legend>
      <div class="form-group">
          <label for="DiscountIDFormH" class="col-md-4 col-sm-4 col-xs-4 control-label">Discount</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <select class="form-control Hardware" id="DiscountIDFormH" name="DiscountIDForm">
                <option value="">Please select</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label for="PercentageFormH" class="col-md-4 col-sm-4 col-xs-4 control-label">Percentage</label>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <input type="text" class="form-control Hardware terikat" id="PercentageFormH" name="PercentageForm">
          </div>

          <label for="ValueFormH" class="col-md-2 col-sm-2 col-xs-2 control-label">Value</label>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <input type="text" class="form-control Hardware terikat" id="ValueFormH" name="ValueForm">
          </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <div id="error_insert_update"></div>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-plus"></i> Add
    </button>
    <button type="reset" class="btn btn-success btn-addon m-b-sm">
      <i class="fa fa-arrow-left"></i> Cancel
    </button>
  </div>
</form>

<!-- Masukkan ke database -->
<div class="modal-footer edit">
  <button class="btn btn-primary" id="finish">
    <i class="fa fa-save"></i> Save All
  </button>
  <a type="button" href="#/transaction/quotation" class="btn btn-success btn-addon m-b-sm">
    <i class="fa fa-arrow-left"></i> Back
  </a>
</div>

<!-- Validasi oleh Head of Sales -->
<div class="modal-footer" id="validationQuotation" style="text-align:left;">
  <!-- <button id="Approve" class="btn btn-primary">Approve Quotation
  </button>
  <button id="Deny" class="btn btn-addon">Deny Quotation
  </button> -->
</div>
<script>

function updateStatus(sttus, post) {
    $F.service({
      type: 'post',
      url: 'quotation/actionStatus/' + post,
      data: JSON.stringify({
        Status: sttus
      }),
      success: function(d){
        if(d != null) {
          if(d.Status == 0) {
            window.location= '#/transaction/quotation';
          }
        } else {
          DZ.showAlertWarning("Something is wrong, Update failed.", "#error", 0);
        }
      }
    }); //tutup service

}
</script>
