<div class="text-left" style="margin:5px">
  <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
    <i class="fa fa-chevron-left"></i> Back
  </a>
</div>

<h5 class="panel-title text-center title-content" id="topic"></h5>

<!-- Header -->
<form class="form-horizontal" id="header">
  <div class="modal-body">
    <fieldset>
      <legend>Header</legend>
      <div class="form-group">
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="hidden" class="form-control" id="Status" name="Status" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="QuotationNO" class="col-md-4 col-sm-4 col-xs-4 control-label">Quotation Number</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="QuotationNO" name="QuotationNO" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="BranchName" class="col-md-4 col-sm-4 col-xs-4 control-label">Outlet Name</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="BranchName" name="BranchName" readonly="">
          </div>
      </div>
      <!-- <div class="form-group">
          <label for="Address" class="col-md-4 col-sm-4 col-xs-4 control-label">Address</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="Address" name="Address" readonly="">
          </div>
      </div> -->
      <div class="form-group">
          <label for="UserFullName" class="col-md-4 col-sm-4 col-xs-4 control-label">PIC</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="UserFullName" name="UserFullName" readonly="">
          </div>
      </div>
      <div class="form-group">
          <label for="GrandTotal" class="col-md-4 col-sm-4 col-xs-4 control-label">Total</label>
          <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" id="GrandTotal" name="GrandTotal" readonly="">
          </div>
      </div>
    </fieldset>
  </div>
</form>

<!-- Tabel License -->
<fieldset>
  <legend>License</legend>
    <div class="row" style="padding:10px">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <table id="MainTable_License" tabindex="0" class="table table-striped table-bordered" cellspacing="0">
              <thead>
                  <tr>
                      <td rowspan="2" class="no-sort">No</td>
                      <td rowspan="2" class="no-sort">License</td>
                      <td rowspan="2" class="no-sort">Price</td>
                      <td rowspan="2" class="no-sort">Qty</td>
                      <td rowspan="2" class="no-sort">Discount</td>
                      <td colspan="2" class="no-sort text-center">Method</td>
                      <!-- <td colspan="2" class="no-sort text-center">Commission</td> -->
                      <td rowspan="2" class="no-sort">Subtotal</td>
                      <!-- <td rowspan="2" class="no-sort">Commission</td> -->
                      <!-- <td class="no-sort" style="width:70px;">Action</td> -->
                  </tr>
                  <tr>
                    <td class="no-sort">Percentage</td>
                    <td class="no-sort">Value</td>
                    <!-- <td class="no-sort">Percentage</td>
                    <td class="no-sort">Value</td> -->
                  </tr>
              </thead>
              <tbody id="Body_License">
                <tr id="row_License" class="looptemplate">
                  <td class="No"></td>
                  <td class="License"></td>
                  <td class="Price"></td>
                  <td class="Qty"></td>
                  <td class="Discount"></td>
                  <td class="DPercentage"></td>
                  <td class="DValue"></td>
                  <!-- <td class="CPercentage"></td>
                  <td class="CValue"></td> -->
                  <td class="SubTotal"></td>
                  <!-- <td class="Commission"></td> -->
                  <!-- <td class="Action"><a href="#">Delete</a> -->
                    <!-- <select class="form-control act"> -->
                      <!-- <option value="NULL">Select Action</option> -->
                      <!-- <option value="0">View Detail</option> -->
                      <!-- <option value="1">Edit</option> -->
                      <!-- <option value="2">Delete</option> -->
                    <!-- </select> -->
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
</fieldset>

<!-- Tabel Hardware -->
<fieldset>
  <legend>Hardware</legend>
  <div class="row" style="padding:10px">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <table id="MainTable_Hardware" tabindex="1" class="table table-striped table-bordered" cellspacing="0">
              <thead>
                  <tr>
                      <td rowspan="2" class="no-sort">No</td>
                      <td rowspan="2" class="no-sort">Hardware</td>
                      <td rowspan="2" class="no-sort">Price</td>
                      <td rowspan="2" class="no-sort">Qty</td>
                      <td rowspan="2" class="no-sort">Discount</td>
                      <td colspan="2" class="no-sort text-center">Method</td>
                      <td rowspan="2" class="no-sort">Subtotal</td>
                      <!-- <td class="no-sort" style="width:70px;">Action</td> -->
                  </tr>
                  <tr>
                    <td class="no-sort">Percentage</td>
                    <td class="no-sort">Value</td>
                  </tr>
              </thead>
              <tbody id="Body_Hardware">
                <tr id="row_Hardware" class="looptemplate">
                  <td class="No"></td>
                  <td class="Hardware"></td>
                  <td class="Price"></td>
                  <td class="Qty"></td>
                  <td class="Discount"></td>
                  <td class="Percentage"></td>
                  <td class="Value"></td>
                  <td class="SubTotal"></td>
                  <!-- <td class="Action"><a href="#">Delete</a> -->
                    <!-- <select class="form-control act"> -->
                      <!-- <option value="NULL">Select Action</option> -->
                      <!-- <option value="0">View Detail</option> -->
                      <!-- <option value="1">Edit</option> -->
                      <!-- <option value="2">Delete</option> -->
                    <!-- </select> -->
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</fieldset>

<div class="modal-footer">
  <button id="Download" class="btn btn-addon">Save as PDF
  </button>
</div>
