<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="BrandID" name="BrandID" />
            </div>
        </div> -->
        <div class="form-group">
            <label for="ProductID" class="col-md-4 col-sm-4 col-xs-4 control-label">Product</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="ProductID" name="ProductID">
                  <option selected disabled hidden>Please select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="BrandCode" class="col-md-4 col-sm-4 col-xs-4 control-label">Brand Code</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="BrandCode" name="BrandCode" maxlength="4">
            </div>
        </div>
        <div class="form-group">
            <label for="BrandName" class="col-md-4 col-sm-4 col-xs-4 control-label">Brand Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="BrandName" name="BrandName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-sm-4 col-xs-4 control-label"> </label>
            <img id="PhotoCategory" src="assets/images/default-item.jpg" style="padding-left:15px" width="100px">
            <span class="close hidden" style="position:absolute;top:relative">x</span>
            <!-- <canvas id="myCanvas" class="looptemplate" /> -->
        </div>
        <div class="form-group">
            <label for="MenuImage" class="col-md-4 col-sm-4 col-xs-4 control-label">Image</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="file" class="form-control" id="Files" name="CategoryImage">
                <!-- <p class="help-block">Field ini digunakan untuk mengupload logo Brand</p> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-addon">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/master/brand" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
