<div class="text-right" style="margin:5px;">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<div class="align-right" style="margin:5px; float:right;">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton">
        <i class="fa fa-plus"></i> Add
    </a>
</div>
<div class="align-left" style="margin:5px; float:left;">
  <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
    <i class="fa fa-arrow-left"></i> Back
  </a>
</div>
<h5 class="panel-title text-center title-content" id="topic"></h5>
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td class="no-sort">Branch Code</td>
                    <td class="no-sort">Branch Name</td>
                    <td class="no-sort">Address</td>
                    <td class="no-sort">Phone</td>
                    <!-- <td class="no-sort">Status</td> -->
                    <td class="no-sort" style="width:150px;">Action</td>
                </tr>
            </thead>
            <tbody id="Body">
              <tr id="row" class="looptemplate">
                <td class="BranchCode"></td>
                <td class="BranchName"></td>
                <td class="Address"></td>
                <td class="Phone"></td>
                <!-- <td class="Status"></td> -->
                <td class="Action">
                  <select class="form-control act" required>
                    <option value="0" selected disabled hidden>Select Action</option>
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                  </select>
                </td>
              </tr>
            </tbody>

        </table>
    </div>
</div>
