<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="InvoicePaymentID" name="InvoicePaymentID" />
            </div>
        </div> -->
        <div class="form-group">
            <label for="Date" class="col-md-4 col-sm-4 col-xs-4 control-label">Date</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div class="input-prepend input-group">
                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                <input type="text" class="form-control dur" id="Date" name="Date" readonly="">
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Amount" class="col-md-4 col-sm-4 col-xs-4 control-label">Amount</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="Amount" name="Amount">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-sm-4 col-xs-4 control-label"> </label>
            <img id="PhotoCategory" src="assets/images/default-item.jpg" style="padding-left:15px" width="100px">
            <span class="close hidden" style="position:absolute;top:relative">x</span>
        </div>
        <div class="form-group">
            <label for="MenuImage" class="col-md-4 col-sm-4 col-xs-4 control-label">Image</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="file" class="form-control" id="Files" name="CategoryImage">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
