<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="HardwareID" name="HardwareID" />
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label for="HardwareCode" class="col-md-4 col-sm-4 col-xs-4 control-label">Hardware Code</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="HardwareCode" name="HardwareCode">
            </div>
        </div>
        <div id="error_HardwareCode"></div> -->
        <div class="form-group">
            <label for="HardwareName" class="col-md-4 col-sm-4 col-xs-4 control-label">Hardware Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="HardwareName" name="HardwareName">
            </div>
        </div>
        <div class="form-group">
            <label for="Price" class="col-md-4 col-sm-4 col-xs-4 control-label">Price</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control numbers-only" id="Price" name="Price">
            </div>
        </div>
        <div class="form-group">
            <label for="Type" class="col-md-4 col-sm-4 col-xs-4 control-label">Type</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="Type" name="Type">
                  <option selected disabled hidden>Please select</option>
                  <option value="PC">PC</option>
                  <option value="Laptop">Laptop</option>
                  <option value="Printer">Printer</option>
                  <option value="Utilities">Utilities</option>
                  <option value="Others">Others</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-md-4 col-sm-4 col-xs-4 control-label">Description</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <textarea type="text" class="form-control" id="Description" name="Description" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" href="#/master/hardware" class="btn btn-success btn-addon m-b-sm">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
