<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" id="action" action="#" method="post">
    <div class="modal-body">
        <!-- <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="hidden" class="form-control" id="BranchID" name="BranchID" />
            </div>
        </div> -->
        <div class="form-group">
            <label for="BranchCode" class="col-md-4 col-sm-4 col-xs-4 control-label">Branch Code</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="BranchCode" name="BranchCode">
            </div>
        </div>
        <div class="form-group">
            <label for="BranchName" class="col-md-4 col-sm-4 col-xs-4 control-label">Branch Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="BranchName" name="BranchName">
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="BrandID" class="col-md-4 col-sm-4 col-xs-4 control-label">Brand Name</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" id="BrandID" name="BrandID">
                  <option value="">Please select</option>
                </select>
            </div>
        </div> -->
        <div class="form-group">
            <label for="Address" class="col-md-4 col-sm-4 col-xs-4 control-label">Address</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <textarea type="text" class="form-control" id="Address" name="Address" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="col-md-4 col-sm-4 col-xs-4 control-label">Phone</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control numbers-only" maxlength="13" id="Phone" name="Phone">
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="Status" class="col-md-4 col-sm-4 col-xs-4 control-label">Status</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="Status" name="Status">
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save Change
        </button>
        <a type="button" class="btn btn-success btn-addon m-b-sm" id="back">
          <i class="fa fa-arrow-left"></i> Back
        </a>
    </div>
</form>
