 <h5 class="panel-title text-center title-content" id="topic"></h5>
<div class="mainalert"></div>
 <form class="form-horizontal" role="form" id="action" action="#" method="post">
   <div class="modal-body row">
    <div class="form-group">
        <label for="OldPassword" class="col-md-4 col-sm-4 col-xs-4 control-label">Old Password</label>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="password" class="form-control" id="OldPassword" name="OldPassword"/>
        </div>
    </div>
    <div class="form-group">
        <label for="NewPassword" class="col-md-4 col-sm-4 col-xs-4 control-label">New Password</label>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="password" class="form-control" id="NewPassword" name="NewPassword"/>
        </div>
    </div>
    <div class="form-group">
        <label for="ReNewPassword" class="col-md-4 col-sm-4 col-xs-4 control-label">Re New Password</label>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input type="password" class="form-control" id="ReNewPassword" name="ReNewPassword"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save Change</button>
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="back">Back</a>
</div>
</form>
