<div class="text-right" style="margin:5px">
</div>

<form class="form-horizontal" role="form" action="#" method="post" style="margin-top: 1cm">
    <div class="form-group">
        <label for="Sstart_date" class="col-md-2 col-sm-2 col-xs-2 control-label">Start & End Date</label>
        <div class="col-md-8 col-sm-8 col-xs-8">
         <div class="input-prepend input-group">
             <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text" name="start_end_date" id="start_end_date" class="form-control" value="" />
         </div>
     </div>
 </div>

 <div class="form-group">
    <label for="report_type" class="col-md-2 col-sm-2 col-xs-2 control-label">Type</label>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <select class="form-control" id="report_type" name="report_type">
            <option value="1">Daily</option>
            <option value="2">Weekly</option>
            <option value="3">Monthly</option>
            <option value="4">Yearly</option>
        </select>
    </div>
</div>
</form>
<div class="row" style="padding:10px">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div id="chart_transaction_div" style="width: 100%;padding:20px"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <div id="chart_gross_div" style="width: 100%;padding:20px"></div>
    </div>
</div>
<div class="row" style="padding:10px">

    <div class="col-md-4 col-sm-4 col-xs-4">
        <div id="chart_cetegory_div" style="width: 100%;padding:20px"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div id="chart_table_div" style="width: 100%;padding:20px"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div id="chart_quest_div" style="width: 100%;padding:20px"></div>
    </div>
</div>