<div class="text-right" style="margin:5px">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<!-- <div class="text-right" style="margin:5px">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton">
        <i class="fa fa-plus"></i> Add
    </a>
</div> -->
<div class="row" style="padding:10px">

  <div class="col-md-2 col-sm-2 col-xs-2">
    <label style="background: #fff; padding: 5px 10px; border: 1px;">Start & End Date</label>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; float: left;">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>
    </div>
  </div>


    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <label id="report-title"></label>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <div id="report"></div>
      </div>
    </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                  <tr>
                      <td class="no-sort">Invoice Number</td>
                      <td class="no-sort">Outlet Name</td>
                      <td class="no-sort">PIC</td>
                      <td class="no-sort">Paid Date</td>
                      <td class="no-sort">Grand Total</td>
                      <td class="no-sort">Sales Commission</td>
                      <td class="no-sort">Reseller Profit</td>
                      <!-- <td class="no-sort" style="width:150px;">Action</td> -->
                  </tr>
              </thead>
              <tbody id="Body">
                  <tr id="row" class="looptemplate">
                    <td class="InvoiceNO"></td>
                    <td class="BranchName"></td>
                    <td class="UserFullName"></td>
                    <td class="PaidDate"></td>
                    <td class="GrandTotal"></td>
                    <td class="Commission"></td>
                    <td class="Profit"></td>
                    <!-- <td class="Action">
                      <select class="form-control act">
                        <option value="NULL">Select Action</option>
                        <option value="1">Edit</option>
                        <option value="2">Delete</option>
                      </select>
                    </td> -->
                  </tr>
              </tbody>
          </table>

    </div>
</div>
