<h5 class="panel-title text-center title-content" id="topic"></h5>
<div class="mainalert"></div>
<div class="modal-body row">
    <div class="form-group">
        <label for="OldPassword" class="col-md-4 col-sm-4 col-xs-4 control-label">Outlet List</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <select type="text" name="SBranchID" id="MBranchID"></select>
            </div>
        </div>
    </div>