<style>
    .outer {position:relative}
    .inner {
        overflow-x:scroll;
        overflow-y:visible;
        width:auto;
        margin-left:auto;
    }
</style>
<ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px">
  <li class="active"><a href="#/view-dashboard">Dashboard</a></li>
</ul>
<div id="report"></div>
<h5 class="panel-title text-center title-content" id="topic"></h5>
<form class="form-horizontal" role="form" action="#" method="post">
  <div class="form-group hidden dashboard" id="dashboard-calendar">
         <div class="col-md-12 col-sm-12 col-xs-12">
             <div class="input-prepend input-group">
                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                <div id="reportrange" class="pull-right" style="margin-bottom: 0px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    &nbsp;
                    <span id="startEndDate"></span>
                    <label class="caret"></label>
                </div>
            </div>
        </div>
    </div>
<div id="dashboard-chart" class="hidden dashboard">
 <div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="panel info-box panel-white">
      <div class="panel-body text-center">
        <p><h3><span class="currency"></span><span class="counter" id="value_gross_sales">0</span></h3></p>
        <h5>GROSS SALES</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="panel info-box panel-white">
      <div class="panel-body text-center">
        <p><h3><span class="currency">Rp. </span><span class="counter" id="value_profit_report">0</span></h3></p>
        <h5>NET SALES</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="panel info-box panel-white">
      <div class="panel-body text-center">
        <p><h3><span class="counter" id="value_guest">0</span></h3></p>
        <h5>TRANSACTION</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="panel info-box panel-white">
      <div class="panel-body text-center">
        <p><h3><span class="currency">Rp. </span><span class="counter" id="value_avg_transaction">0</span></h3></p>
        <h5>AVG. SALE PER TRANSACTION</h5>
      </div>
    </div>
  </div>
</div><!-- Row -->


<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-0   col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_chart_top_category_grossing" role="tab" data-toggle="tab" aria-expanded="false">Category Sales By Amount & Qty</a></li>
        <!--         <li role="presentation" class=""><a href="#tab_chart_top_category_sales" role="tab" data-toggle="tab" aria-expanded="false">By Qty</a></li> -->
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px">
        <div role="tabpanel" class="tab-pane active" id="tab_chart_top_category_grossing">
          <div class="panel-white  text-center">
            <div id="chart_top_category_grossing">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="tab_chart_top_category_sales">
          <div class="panel-white  text-center">
            <div id="chart_top_category_sales">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-0   col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_chart_top_grossing" role="tab" data-toggle="tab" aria-expanded="false">Top 10 Sales By Amount & Qty</a></li>
        <!--         <li role="presentation" class=""><a href="#tab_chart_top_sales" role="tab" data-toggle="tab" aria-expanded="false">By Qty</a></li> -->
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px">
        <div role="tabpanel" class="tab-pane active" id="tab_chart_top_grossing">
          <div class="panel-white  text-center">
            <div id="chart_top_grossing">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="tab_chart_top_sales">
          <div class="panel-white  text-center">
            <div id="chart_top_sales">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-0   col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_chart_payment_method_breakdown_total_report" role="tab" data-toggle="tab" aria-expanded="false">Payment Method By Amount & Qty</a></li>
        <!--         <li role="presentation" class=""><a href="#tab_chart_payment_method_breakdown_count_report" role="tab" data-toggle="tab" aria-expanded="false">By Qty</a></li> -->
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px;padding-bottom:105px">
        <div role="tabpanel" class="tab-pane active" id="tab_chart_payment_method_breakdown_total_report">
          <div class="panel-white  text-center">
            <div id="chart_payment_method_breakdown_total_report">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="tab_chart_payment_method_breakdown_count_report">
          <div class="panel-white  text-center">
            <div id="chart_payment_method_breakdown_count_report">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-0   col-md-offset-0 col-sm-offset-0 col-xs-offset-0 ">
    <div role="tabpanel">
      <ul class="nav nav-tabs" >
      <li class="active"><a href="#tab_chart_payment_method_breakdown_total_report" role="tab" data-toggle="tab" aria-expanded="false">Top Spender</a></li>
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px">
        <div role="tabpanel" class="tab-pane active">
          <div class="panel-white  text-center">
            <div id="chart_customer_spending_breakdown">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-6 col-sm-12 col-xs-0   col-md-offset-0 col-sm-offset-0 col-xs-offset-0 ">
    <div role="tabpanel">
      <ul class="nav nav-tabs" >
      <li class="active"><a href="#tab_chart_payment_method_breakdown_total_report" role="tab" data-toggle="tab" aria-expanded="false">Staff Performance</a></li>
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px">
        <div role="tabpanel" class="tab-pane active">
          <div class="panel-white  text-center">
            <div id="chart_staff_performance">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <h3>Current Staff Status</h3>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-0">
        <table id="MainTable_Online_Status" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>Fullname</td>
                    <td>User Type Name</td>
                    <td class="hidden">Status</td>
                    <td>Date</td>
                    <td>Clock In</td>
                    <td>Clock Out</td>
                </tr>
            </thead>
            <tbody  id="iTemplateBody">
                <tr id="iTemplate" class="looptemplate">
                    <td class="iFullname"></td>
                    <td class="iUserTypeName"></td>
                    <td class="iStatus hidden"></td>
                    <td class="iDate"></td>
                    <td class="iClockIn"></td>
                    <td class="iClockOut"></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="dashboard-trends" class="dashboard">
<div class="col-md-8 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="HeaderContent" style="margin-top:25px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <ul class="nav nav-pills" id="SubHeaderContent" >
            <li id="nav-day" class="timeClear active"><a id="nav-day-achr">Day</a></li>
            <li id="nav-week" class="timeClear"><a id="nav-week-achr">Week</a></li>
            <li id="nav-month" class="timeClear"><a id="nav-month-achr">Month</a></li>
            <li id="nav-year" class="timeClear"><a id="nav-year-achr">Year</a></li>
          </ul>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-right" >
          <div class=" m-b-sm export" >
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-0 col-sm-12 col-xs-0">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_chart_sales_graph_by_amount" role="tab" data-toggle="tab" aria-expanded="false">Sales Graph By Amount</a></li>
        <!--         <li role="presentation" class=""><a href="#tab_chart_payment_method_breakdown_count_report" role="tab" data-toggle="tab" aria-expanded="false">By Qty</a></li> -->
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px;padding-bottom:105px">
        <div role="tabpanel" class="tab-pane active" id="tab_chart_payment_method_breakdown_total_report">
          <div class="panel-white  text-center">
            <div id="chart_sales_graph_by_amount">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-0 col-sm-12 col-xs-0">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_chart_sales_graph_by_qty" role="tab" data-toggle="tab" aria-expanded="false">Sales Graph By Qty</a></li>
        <!--         <li role="presentation" class=""><a href="#tab_chart_payment_method_breakdown_count_report" role="tab" data-toggle="tab" aria-expanded="false">By Qty</a></li> -->
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px;padding-bottom:105px">
        <div role="tabpanel" class="tab-pane active" id="tab_chart_payment_method_breakdown_total_report">
          <div class="panel-white  text-center">
            <div id="chart_sales_graph_by_qty">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-0 col-sm-12 col-xs-0">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_chart_sales_trend" role="tab" data-toggle="tab" aria-expanded="false">Sales Trend</a></li>
        <!--         <li role="presentation" class=""><a href="#tab_chart_payment_method_breakdown_count_report" role="tab" data-toggle="tab" aria-expanded="false">By Qty</a></li> -->
      </ul>
      <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px;padding-bottom:105px">
        <div role="tabpanel" class="tab-pane active" id="tab_chart_payment_method_breakdown_total_report">
          <div class="panel-white  text-center">
            <div id="chart_sales_trend">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <div class="row">
  <h3>Visitor Graph</h3>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel-white">
      <div id="chart_neo_visitor_graph_report"></div>
    </div>
  </div>
</div> -->


<!--

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab_chart_neo_visitor_graph_matrix" role="tab" data-toggle="tab" aria-expanded="false">Number of Visitor Matrix</a></li>
      <li role="presentation" class=""><a href="#tab_chart_neo_revenue_graph_matrix" role="tab" data-toggle="tab" aria-expanded="false">Number of Revenue Matrix</a></li>
    </ul>
    <div class="tab-content"  style="border:1px solid #e9e9e9 !important;margin-top:-2px">
      <div role="tabpanel" class="tab-pane active outer" id="tab_chart_neo_visitor_graph_matrix">
        <div class="panel-white inner text-center">
          <table id="chart_neo_visitor_graph_matrix" class = "freezepane" border="1">
          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane outer" id="tab_chart_neo_revenue_graph_matrix">
        <div class="panel-white inner text-center">
          <table id="chart_neo_revenue_graph_matrix" border="1">
          </table>
        </div>
      </div>
    </div>
  </div>
-->



<!--   <div class="row" style="padding:10px">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div id="chart_transaction_div" style="width: 100%;padding:20px"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div id="chart_gross_div" style="width: 100%;padding:20px"></div>
    </div>
  </div> -->
  <!-- <div class="row" style="padding:10px">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div id="chart_cetegory_div" style="width: 100%;padding:20px"></div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div id="chart_table_div" style="width: 100%;padding:20px"></div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div id="chart_quest_div" style="width: 100%;padding:20px"></div>
    </div>
  </div> -->
</form>
