<form class="form-horizontal" role="form" action="#" method="post">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
     <div class="col-md-12 col-sm-12 col-xs-12" style="top:10px" id="TemplateBodyDate" >
     </div>
     <div class="col-md-12 col-sm-12 col-xs-12" style="top:30px">
       <ul class="nav nav-pills nav-stacked">
<!--
        <li id="report-1" class="clear hidden"><a class = "get" id="nav-sales_by_variant">Total Sales By Variant</a></li>
        <li id="report-10" class="clear"><a class = "get hidden" id="nav-sales_by_variant">Total Sales Byssss</a></li>
        <li id="report-2" class="clear hidden"><a class = "get" id="nav-sales_by_item">Total Sales By Item</a></li>
        <li id="report-3" class="clear hidden"><a class = "get" id="nav-sales_by_category">Total Sales By Category</a></li>
        <li id="report-4" class="clear hidden"><a class = "get" id="nav-customer_spending">Customer Spending</a></li>
        <li id="report-5" class="clear hidden"><a class = "get" id="nav-payment">Payment</a></li>
        <li id="report-6" class="clear hidden"><a class = "get" id="nav-profit_loss">Profit Loss</a></li>
        <li id="report-7" class="clear hidden"><a class = "get" id="nav-staff_performance">Staff Performance</a></li>
-->
   </ul>
 </div>
</div>
<div class="col-md-8 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="HeaderContent" style="margin-top:25px">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row" id="appendDMWY">
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-right" >
          <div class=" m-b-sm export" >
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div id="MainTable_filter" class="dataTables_filter">
            <div id="reCreateTable" class="reCreateTable" data-rel="reCreateTable">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="iSummary"></div>
    </div>
  </div>
</div>
</div>
</div>
</form>