<div class="text-right" style="margin:5px">
    <button type="button" class="btn btn-success btn-addon m-b-sm addbutton" id="export">Export To Excel</button>
</div>
<!-- <div class="text-right" style="margin:5px">
    <a type="button" class="btn btn-success btn-addon m-b-sm addbutton">
        <i class="fa fa-plus"></i> Add
    </a>
</div> -->
<div class="row" style="padding:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="MainTable_category" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td class="no-sort">Invoice Number</td>
                    <td class="no-sort">Quotation Number</td>
                    <td class="no-sort">Branch Name</td>
                    <td class="no-sort">PIC</td>
                    <td class="no-sort">Grand Total</td>
                    <td class="no-sort">Reseller Total</td>
                    <td class="no-sort">Reseller Profit</td>
                    <td class="no-sort">Date Delivered</td>
                    <td class="no-sort">Status</td>
                    <td class="no-sort" style="width:150px;">Action</td>
                </tr>
            </thead>
            <tbody id="Body">
              <tr id="row" class="looptemplate">
                <td class="InvResNo"></td>
                <td class="QuoNo"></td>
                <td class="BranchName"></td>
                <td class="PIC"></td>
                <td class="GrandTotal"></td>
                <td class="GrandTotalRes"></td>
                <td class="Profit"></td>
                <td class="DateDeliv"></td>
                <td class="Status"></td>
                <td class="Action">
                  <select class="form-control act" required>
                    <option value="0" selected disabled hidden>Select Action</option>
                    <!-- <option value="0">View Detail</option> -->
                    <!-- <option value="1">Edit</option> -->
                    <!-- <option value="2">Delete</option> -->
                  </select>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
